.ip-input-container {
    display: flex;
    align-items: center;
}

#ip-address {
    padding: 5px;
    margin-right: 5px;
}

#add-ip {
    cursor: pointer;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
}

#connected-ips {
    margin-top: 10px;
}

#ip-list {
    list-style-type: none;
    padding: 0;
}
